@model onlineKredit.web.Models.DeutscheBankKontoInformationModel

@{
    ViewBag.Title = "HatDeutscheBankKontoInformation";
}

<h2>HatDeutscheBankKontoInformation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.KundenID)

    <div class="form-horizontal">
        <h4>DeutscheBankKontoInformationModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BIC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BIC, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IBAN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<input onkeyup="whiteSpaceValidation(this.value)" id="validationIBAN" class="text-box single-line" data-val="true" data-val-length="Maximal 25 Zeichen" data-val-length-max="25" data-val-required="Bitte Ihre Bankleitzahl angeben." name="IBAN" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="IBAN" data-valmsg-replace="true"></span>*@
                    @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control",  id = "validationIBAN", onkeyup = "whiteSpaceValidation(this.value)" }})
                    @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
                   
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankInstitut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label>@Model.BankInstitut</label>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.KundenID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KundenID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KundenID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("KreditRahmen", "KontoVerfuegbar")" class="btn btn-primary">Zurück</a>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Weiter" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 