@model onlineKredit.web.Models.KontaktDatenModel

@{
    ViewBag.Title = "KontaktDaten";
}



<h2 class="form-heading">Kontakt Daten</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.KundenID)

    <section class="input-fromular">
        <div class="form-horizontal">
            <h4>KontaktDatenModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Strasse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Strasse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Strasse, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Hausnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hausnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hausnummer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Stiege, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Stiege, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stiege, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tuer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tuer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tuer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
    @Html.LabelFor(model => model.FK_Ort, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">


    <input value="@Model.PLZUndOrtInText" id="PLZUndOrtInText" name="PLZUndOrtInText" type="text" list="orte" placeholder="bitte Ort eingeben..." data-val-required="Bitte Postleitzahl und Ort angeben." class="input-validation-error">
    <datalist id="orte">
        @foreach (var item in Model.AlleOrtsAngabenWeb)
        {
            <option value="@item.PLZUndOrt"></option>
        }
    </datalist>
    @Html.ValidationMessageFor(model => model.PLZUndOrtInText, "", new { @class = "text-danger" })

@*
         <input type="hidden" value="FK_Ort"/>
    <input value="@Model.FK_Ort" id="FK_Ort" name="FK_Ort" type="text" list="orte" placeholder="bitte Ort eingeben..." data-val-required="Bitte Postleitzahl und Ort angeben." class="input-validation-error">
     <datalist id="orte">
         @foreach (var item in Model.AlleOrtsAngabenWeb)
         {
             <option value="@item.ID">@item.PLZUndOrt"</option>
         }
     </datalist>*@
 


                    @* Dropdown für Ort*@
    @*@Html.DropDownListFor(model => model.FK_Ort, new SelectList(Model.AlleOrtsAngabenWeb, "ID", "PLZUndOrt"), "bitte wählen...")
    @Html.ValidationMessageFor(model => model.FK_Ort, "", new { @class = "text-danger" })*@
          
                        </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TelefonNummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TelefonNummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelefonNummer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KundenID, htmlAttributes: new { @class = "control-label col-md-2", @style = "display: none" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KundenID, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                    @Html.ValidationMessageFor(model => model.KundenID, "", new { @class = "text-danger", @style = "display: none" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Weiter" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



