@model onlineKredit.web.Models.ZusammenFassungModel
@{
    ViewBag.Title = "ZusammenFassung";
}

<h2 class="form-heading">Zusammenfassung Ihrer Daten</h2>

<div class="row" style="margin-top: 20px">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6">
        Bitte überprüfen Sie die Angaben der Daten auf Ihre richtigkeit. Und nehmen Sie dies zur Kenntniss.
        Bestätigen Sie im Anschluss ihre Auswahl durch die Schaltfläche &quot;Bestätigen&quot;.
    </div>
</div>
<br />

<div>

    @* Kreditrahmen *@
    <section class="input-fromular">
            <h3 class="summary-view-header">Kreditrahmen:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GewuenschterBetrag)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GewuenschterBetrag)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Laufzeit)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Laufzeit)
            </dd>
        </dl>
        <a href="@Url.Action("KreditRahmen", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
    </section>

    @* Finanzielle Situation *@
    <section class="input-fromular">
        <h3 class="summary-view-header">Finanzielle Situation:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NettoEinkommen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NettoEinkommen)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Wohnkosten)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Wohnkosten)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EinkuenfteAlimenteUnterhalt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EinkuenfteAlimenteUnterhalt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UnterhaltsZahlungen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnterhaltsZahlungen)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RatenVerpflichtungen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RatenVerpflichtungen)
            </dd>
        </dl>
        <a href="@Url.Action("FinanzielleSituation", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
    </section>

    @* Persönliche Daten*@
    <section class="input-fromular">
        <h3 class="summary-view-header">Persönliche Daten:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Geschlecht)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Geschlecht)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Titel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Titel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Vorname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vorname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nachname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nachname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GeburtsDatum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GeburtsDatum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Staatsbuergerschaft)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Staatsbuergerschaft)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AnzahlKinder)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnzahlKinder)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Familienstand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Familienstand)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Wohnart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Wohnart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SchulAbschluss)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SchulAbschluss)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdentifikationsArt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdentifikationsArt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdentifikationsNummer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdentifikationsNummer)
            </dd>
        </dl>
        <a href="@Url.Action("PersoenlicheDaten", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
    </section>

    @* Kontaktdaten *@
    <section class="input-fromular">
        <h3 class="summary-view-header">Kontaktdaten:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Strasse)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Strasse)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Hausnummer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hausnummer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stiege)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stiege)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tuer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tuer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ort)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ort)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefonNummer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefonNummer)
            </dd>
        </dl>
        <a href="@Url.Action("KontaktDaten", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
    </section>

    @* Arbeitgeber *@
    <section class="input-fromular">
        <h3 class="summary-view-header">Arbeitgeber:</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Firma)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firma)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BeschaeftigungsArt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BeschaeftigungsArt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Branche)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Branche)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BeschaeftigtSeit)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BeschaeftigtSeit)
            </dd>
        </dl>
        <a href="@Url.Action("Arbeitgeber", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
    </section>

    @if (Model.IBAN != null && Model.BIC != null && Model.BankInstitut != null)
    {
        @* Kontoinformation *@
        <section class="input-fromular">
            <h3 class="summary-view-header">Kontoinformationen:</h3>
            <dl class="dl-horizontal detail-alignment">
                <dt>
                    @Html.DisplayNameFor(model => model.BIC)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BIC)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IBAN)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IBAN)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BankInstitut)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BankInstitut)
                </dd>
            </dl>
            <a href="@Url.Action("KontoVerfuegbar", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
        </section>
    }

    @if (Model.KreditKartenInhaber != null && Model.KreditKartenNummer != null && Model.KreditKartenGueltigBis != null)
    {
        @* Kreditkartenangabe*@
        <section class="input-fromular">
            <h3 class="summary-view-header">Kreditkartenangabe:</h3>
            <dl class="dl-horizontal detail-alignment">
                <dt>
                    @Html.DisplayNameFor(model => model.KreditKartenInhaber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KreditKartenInhaber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.KreditKartenNummer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KreditKartenNummer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.KreditKartenGueltigBis)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KreditKartenGueltigBis)
                </dd>
            </dl>
            <a href="@Url.Action("KontoVerfuegbar", "KonsumKredit")" class="btn btn-primary">Bearbeiten</a>
        </section>
    }


    <h2 class="form-heading">Einverständnis-Erklärung</h2>
    @using (Html.BeginForm("AngabeBestaetigung", "KonsumKredit", FormMethod.Post))
            {
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
            </div>
            <div class="col-lg-6 col-md-6">
                <input id="bestaetigt" type="checkbox" name="bestaetigt" value="true" onchange="acceptDataInput();"/>
                Ich bestätige hiermit die Richtigkeit der Angaben und ersuche um Ausarbeitung
                eines Kredit-Antrages
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
            </div>
            <div class="col-lg-6 col-md-6 important" style="display :none" id="importantText" >
                Epfohlen: Bei bestätigen erscheint ein Fenster, das es Ihnen ermöglicht Die Zusammenfassung auszudrucken, bzw. als PDF zu downloaden.
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-lg-3 col-md-3">

                @Html.AntiForgeryToken()
                @Html.Hidden("id", Model.KundenID)
                <input class="btn btn-primary" type="submit" value="Angaben bestätigen" onClick="javascript:window.print()">
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    /* <![CDATA[ */
    function acceptDataInput() {
        if (document.getElementById("bestaetigt").checked) {
            document.getElementById("importantText").style = 'display: block;';
        }
        else {
            document.getElementById("importantText").style = 'display: none;';
        }
    }
    /* ]]> */
    </script>

}

    

